@import '../../../shared/styles/_mixin';

.login-container {
    background-color: rgb(255, 255, 255);
    color: #666666;
    width: 352px;
    padding: 28px;
    margin: 0 auto;
    border-radius: 4px;
    @include centerer;
}
.btn-link {
    font-size: 28px;
}